*{
    margin: 0;
    padding: 0;
}
body{
    background: #333
}
.main{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(img/111.jpg);
    background-size: cover;
    background-position: center bottom;
}
#Canvas{
    filter: drop-shadow(0 0 1px #fff);
}