<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <style>
        .yellow {
            background: yellow;
        }

        .red {
            background: red;
        }
    </style>
</head>

<body>
    <div id="box">
        {{myname}}-{{myage}}
        <div :class="whichcolor">
            切换背景色
        </div>
        <div v-show='isShow'>我是动态显示和隐藏</div>
        <div v-if='isCreated'>我是动态创建和删除</div>
        <button @click='handleChange()'>
            change
        </button>
        <ul>
            <li v-for='(item,index) in list'>
                {{item}}-{{index}}
            </li>
        </ul>
        <div v-html='mytext'></div>
    </div>
    <script>
        new Vue({
            el: '#box',
            data: {
                myname: '小唐',//状态，可以随时改变
                myage: 20,
                whichcolor: 'yellow',
                isShow: false,
                isCreated: false,
                list: ['aaa', 'bbb', 'ccc'],
                mytext: "<b>加粗的</b>"
            },
            methods: {
                handleChange() {
                    this.myname = '小潘'
                    this.myage = 19
                    this.isShow = !this.isShow
                    this.isCreated = !this.isCreated
                    this.list.push('ddd')
                    if (this.whichcolor == 'red') {
                        this.whichcolor = 'yellow'
                    } else {
                        this.whichcolor = 'red'
                    }
                }
            }
        })
    </script>
</body>

</html>