body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ccc
}

::-webkit-scrollbar-track {
    background-color: #ccc;
}